
/* Header y color de body igual para todas las páginas */

header {
    background-color: blanchedalmond;
    border-bottom: 1px solid rgb(209, 136, 0);
}

.navbar navbar-expand-lg bg-body-tertiary {
    background-color: blanchedalmond;
 }

.container-fluid {
    background-color: blanchedalmond;
}

.navbar-brand {
    width: 500px;
    margin: 10px 60px;
    padding-right: 100px;
}

.navbar-collapse collapse show {
    color: orange;
}

#navbar-brand {
    color: orange;
}

header nav ul li {
    list-style-type: none;
    display:inline;
    margin: 5% 5% 5% 8%;
}

header nav ul li a {
    color: orange;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight:lighter;
    font-style:normal;
}

header nav ul li a:hover {
    background-color: darkgray;
}

body {
    background-color: #FFF4E7;
}

/* Index */

#carouselExampleIndicators {
    padding: 60px;
}

.carousel-indicators {
    height: 10%;
}

body section {
    background-color: #FFF4E7;
}

.Fotos-Index {
    width: 20%;
    margin: 10px;
}

.Imagenes-Index {
    display: flex;
    justify-content: space-around;
}

.Textos-Imagenes {
    display: flex;
    justify-content:space-around;
    margin-bottom: 16px;
}

section h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size:medium;
}

/* Footer igual para todas las páginas */

footer p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:silver
}

/* Titulo principal de cada página */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-left: 2%;
    background-color: #FFF4E7;
}

/* Pagina Nosotros */

.Section-Nosotros {
    display: flex;
    margin-bottom: 16px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
    margin: 1%;
    text-align: justify;
    background-color: #FFF4E7;
}

img {
    width: 40%;
    padding-left: 1%;
}

/* Pagina Viajes */

.Section-Viajes1 {
    display: flex;
    padding-top: 4%;
    margin-bottom: 4%;
}

.Section-Viajes2 {
    display: flex;
    padding-top: 4%;
    margin-bottom: 4%;
}

.Section-Viajes3 {
    display: flex;
    padding-top: 4%;
    margin-bottom: 4%;
}

.Section-Viajes4 {
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 16px
}

.FotoViajes {
    width: 25%;
}

/* Pagina Mapas */

.FotoMapa {
    width: 90%;
    margin: 1% 0% 2% 4%;
}

Section iframe {
    width: 35%;
}

.Section-Mapas1 {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.Section-TextoMapas1 {
    display: flex;
    justify-content: space-around;
}

.Section-Mapas2 {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.Section-TextoMapas2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px
}

/* Pagina Contacto */

.Section-Contacto{
    height: 300px;
    margin-bottom: 16px
}  