.mb-3 {
    background-color: #FFF4E7;
    padding-left: 10rem;
    padding-right: 20rem;
}
.form-control {
    background-color: #FFF4E7;
    height: 4rem;
}
#exampleFormControlTextarea1 {
    height: 20rem;
}
.Enviar {
    margin-left: 90%;
}
