footer {
    background-color: #FFF4E7;
        p {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding: 1rem;
            color: rgba(0, 0, 0, 0.712);
            background-color: silver;
            border: 1px solid black;
        }
}