.Section-Nosotros {
    display: flex;
    margin-top: -0.5rem;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7%;
    margin: 1%;
    text-align:center;
    color: rgba(0, 0, 0, 0.712);
    background-color: #FFF4E7;
}
img {
    width: 40%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.Nosotros {
    border-radius: 15%;
}