.Section-Viajes1 {
    display: flex;
    margin-top: -0.5rem;
    padding-bottom: 1rem;
    border-bottom: 4px rgb(252, 214, 164) ridge;
}
.Section-Viajes2 {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 4px rgb(252, 214, 164) ridge;
}
.Section-Viajes3 {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 4px rgb(252, 214, 164) ridge;
}
.Section-Viajes4 {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.FotoViajes {
    width: 35%;
    height: 35%;
    border-radius: 15%;
}